.Toolbar {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 69px;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  align-items: center;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  align-items: center;
}

.Navigate {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}
