.App {
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    rgba(33, 114, 229, 0.1) 0%,
    rgba(33, 36, 41, 0) 100%
  );
  background-color: rgb(44, 47, 54);
  min-height: 100vh;
  background-position: 0px -30vh;
  background-repeat: no-repeat;
  display: flex;
  color: white;
}

.AppContainer {
  display: flex;
  flex-flow: column;
  width: 100%;
}
